@font-face {
    font-family: 'Ubuntu'; /*all site*/
    src: url('/Prueba_1/fonts/Ubuntu-L.ttf'); 
}
@font-face {
	font-family: 'Ubuntu-B'; /*a name to be used later*/
    src: url('/Prueba_1/fonts/Ubuntu-B.ttf'); /*URL to font*/
}
html, body, div, a, input, textarea, span, header, section, h1, h2,h3, h4, h5, h6, label, nav, button {
	/*font-family: "Telegrafico", Verdana, Sans-Serif;*/
	font-family: "Ubuntu", Verdana, Sans-Serif;
	padding: 0px;
	margin: 0px;
	font-size: 1em;
}
td {
	padding: 0.2em;
}
button {
	background-color: #016DB6;
	color: #FFF;
	padding: 0.5em;
	border: none;
	line-height: 1em;
	min-width: 6em;
}
button:hover {
	cursor: pointer;
	background-color: #419cd8;
}
#tbl_users {
	width:100%;
	border-collapse: collapse;
}
#tbl_users thead tr td, #tbl_users tbody tr td, #tbl_users tfoot tr td {
	border: 1px solid #e8e3e3;;
}
#tbl_users thead tr td, .title {
	background-color: #016DB6;
	color: #FFF;
	text-align: center;
}
.title {
	font-weight: bold;
}

#tbl_users thead tr td {
	background-color: #016DB6;
}

#tbl_users tfoot tr td {
	background-color: #ddd;
}

.hight-light {
	background-color: #efdac4;
	cursor: pointer;
}
.user-selected {
	background-color: #efdac4;
}
.form-hide {
	display: none;
}
#div_user {
	text-align: center;
}
#div_user div {
	padding: 0.5em;
}
.post {
	padding: 1em;
}
.comments {
	padding: 1em;
	background-color: #e2d7d7;
	width: 70%;
	margin: 0.5em auto;
}
.left {
	text-align: left;
}

/*Cargando*/
#div_loading {
	position: fixed;
	width: 100%;
	height: 100%;
}
#div_loading #div_transparent {
	background-color: #000;
	opacity: 0.3;
	width: inherit;
	height: inherit;
	position: fixed;
}
#div_loading #div_loading_img {
	height: inherit;
	left: 0;
	position: absolute;
	top: 0;
	width: inherit;
	z-index: 201;
	text-align: center;
}
/*Fin cargando*/

.todo {
	width: 30%;
	height: 10em;
	display: inline-block;
	margin: 0.4em;
	overflow: hidden;
}
.todo-completed {
	background-color: #a3d66d;
}
.todo-uncompleted {
	background-color: #ed8c71;
}